In [1]:
# Dzień 5 Pandas - Obróbka danych - Część 1 - Najwyższa i najniższa cena

import pandas as pd
df = pd.read_csv(
  r'C:\Users\damia\Desktop\coderslab - Data scientist\3. Pandas\Zjazd_3_-_pliki_do_zadań\Zjazd 3 - pliki do zadań\01_Dane\ceny_produktow_renamed.csv',
  sep=';',
  encoding='UTF-8',
  decimal='.'
)
df.head()

,province,product_types,currency,product_group_id,product_line,value,date
0,PODKARPACKIE,NaN,zł,2,szynka wieprzowa gotowana - za 1kg,21.37,2013-3
1,ŁÓDZKIE,NaN,zł,4,chleb - za 1kg,NaN,2018-2
2,KUJAWSKO-POMORSKIE,NaN,zł,2,kiszka kaszana jęczmienna - za 1kg,3.55,2019-12
3,DOLNOŚLĄSKIE,NaN,zł,2,kurczęta patroszone - za 1kg,6.14,2019-2
4,WARMIŃSKO-MAZURSKIE,NaN,zł,2,salceson Włoski - za 1kg,5.63,2002-3

In [8]:
# wyrzucenie wartosci 0 i 3000
df_new = df.loc[(df['value'] != 0) & (df['value'] != 3000) & (df['province'] == 'POLSKA') & (df['currency'] == 'zł')]

In [9]:
# najwyzsza cena
df_new.sort_values(by=['value'], ascending=[False]).iloc[0]

province                                               POLSKA
product_types                                             NaN
currency                                                   zł
product_group_id                                            2
product_line        mięso wołowe bez kości (z udźca) - za 1kg
value                                                    31.9
date                                                   2018-5
Name: 104451, dtype: object

In [10]:
# najnizsza cena
df_new.sort_values(by=['value'], ascending=[True]).iloc[0]

province                                          POLSKA
product_types                                        NaN
currency                                              zł
product_group_id                                       4
product_line        kasza gryczana prażona cała - za 1kg
value                                               0.02
date                                              2019-4
Name: 4910, dtype: object

In [11]:
# Posortuj dane według następującego klucza:

#     według kolumny product_types – malejąco
#     według kolumny value – rosnąco

df_new.sort_values(by=['product_types', 'value'], ascending=[False, True]).head(20)

,province,product_types,currency,product_group_id,product_line,value,date
142322,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.25,2006-8
13648,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.26,2006-6
17821,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.26,2006-12
25711,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.26,2005-2
87771,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.26,2006-9
112851,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.26,2004-4
148603,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.26,2006-2
12968,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2005-12
31060,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2005-4
35634,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2006-11
65575,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2007-4
71676,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2004-7
76224,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2005-1
101107,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2004-6
117488,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2007-5
131728,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2006-7
146183,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.27,2008-11
3841,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.28,2005-3
4100,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.28,2008-6
8584,POLSKA,sól warzona biała workowana - za 1kg,zł,3,NaN,0.28,2005-7